@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Pixel Operator Mono";
    src: url("/PixelOperatorMono.ttf") format("truetype");
}

body {
    font-family: "Pixel Operator Mono", monospace;
    background-image: url("/bg.png");
    @apply bg-cover bg-center bg-no-repeat min-h-screen bg-black text-white;
}

a {
    @apply hover:underline;
}
